@media (max-width: 600px) {
    html, body {
        margin: 0;  /* sets up border for success */
        height: 100%;
    }
    body {
        box-sizing: border-box;
        min-height: 100vh;
        border: 12px solid;
        border-image: linear-gradient(180deg, black, gray, white, black, gray) 1;
        inset: 0;   /* catches right side border, allows it visible on all screens */
        position: fixed; /* makes sure you can't scroll to the right */
        justify-content: center;
        display: flex;
    }
    .background {
        position: fixed;
        inset: 0;
        background-image: url('/static/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.35;
        animation: fadeBackground 2s ease-in forwards;
        z-index: -1;   
    }
    @keyframes fadeBackground{
     to {
        opacity: 0.85;
      }
    }
    #topP {
        font-weight: bold;
        color: white;
        -webkit-text-stroke: 2px black;
        font-size: 32px;
        display: grid;
        place-items: center;
        font-family: "BBH Bogle", sans-serif;
        font-style: normal;
        margin-top: 1px;
        height: 5px;
        margin-bottom: 50px;
    }
    #socialsDiv {
        display: flex;
        border: 4px solid;
        border-image: linear-gradient(180deg, black, gray, white, black, gray) 1;
        height: 92px;
        width: 290px;
        align-items: center;
        justify-content: center;
        gap: 50px;

    }
    #socialsDiv p {
        font-weight: bold;
        color: white;
        -webkit-text-stroke: 1px black;
        font-size: 20px;
        font-family: "BBH Bogle", sans-serif;
        font-style: normal;

    }
    #socialsDiv a {
        font-size: 14px;
        font-weight: bold;
        color: rgb(125, 198, 227);
        -webkit-text-stroke: .3px black;
    }
    #gmailB {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
        justify-content: center;
        align-items: center;

    }
    #spotDiv {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;
    }
    #instaDiv {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;
    }
    #insta {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
    }
    #spot {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
    }

}