/* background fading in */
.background {
    position: fixed;
    inset: 0;
    background-image: url('/static/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.35;
    animation: fadeBackground 2s ease-in forwards;
    z-index: -1;   
}
@keyframes fadeBackground{
    to {
        opacity: 0.85;
    }
}
#mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
}
html, body {
        margin: 0;  /* sets up border for success */
        height: 100%;
    }
    body {
        box-sizing: border-box;
        min-height: 100vh;
        border: 22px solid;
        border-image: linear-gradient(120deg, black, gray, white, black, gray) 1;
        inset: 0;   /* catches right side border, allows it visible on all screens */
        position: fixed; /* makes sure you can't scroll to the right */
        justify-content: center;
        display: flex;
        align-items: center;
    }
 .background {
        position: fixed;
        inset: 0;
        background-image: url('/static/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.35;
        animation: fadeBackground 2s ease-in forwards;
        z-index: -1;   
    }
    @keyframes fadeBackground{
     to {
        opacity: 0.85;
      }
    }
    #tnbP {
        font-weight: bold;
        color: white;
        -webkit-text-stroke: 3px black;
        font-size: 52px;
        display: grid;
        place-items: center;
        font-family: "BBH Bogle", sans-serif;
        font-style: normal;
        margin-top: 15px;
        height: .1px;
    }
    #squiggle {
        width: 420px;
        height: 50px;
        margin-top: none;
    }
    #png1 {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 10px 14px rgba(0,0,0,0.5);
    }
    #png1Div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1px;
        margin-bottom: 16px;
        margin-top: 1px;
    }
    #socialsDiv {
        display: flex;
        border: 4px solid;
        border-image: linear-gradient(180deg, black, gray, white, black, gray) 1;
        height: 132px;
        width: 590px;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    #socialsDiv p {
        font-weight: bold;
        color: white;
        -webkit-text-stroke: 1px black;
        font-size: 50px;
        font-family: "BBH Bogle", sans-serif;
        font-style: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;


    }
    #socialsDiv a {
        font-size: 30px;
        font-weight: bold;
        color: rgb(125, 198, 227);
        -webkit-text-stroke: .3px black;
    }
    #spotDiv {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;
    }
    #instaDiv {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;
    }
    #insta {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
    }
    #spot {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
    }
    #note1, #note2, #note3, #note4, #note5, #note6, #note7, #note8, #note9, #note10 {
        width: 144px;
        height: 90px;
    }
    #h {
        width: 250px;
        height: 150px;
    }
    #ziggycontact {
        font-size: 10px;
        text-align: center;
        font-weight: bold;
        color: white;
        -webkit-text-stroke: .3px black;
        font-family: "BBH Bogle", sans-serif;
        font-style: normal;
        margin-bottom: -5px;

    }
    #promoDiv {
        position: fixed;
        bottom: 12px;
        width: 100%;
        text-align: center;
    }
    #newAlbumDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #newAlbumDiv p {
        font-weight: bold;
        color: white;
        -webkit-text-stroke: .3px black;
        font-size: 16px;
        font-family: "BBH Bogle", sans-serif;
        font-style: normal;

    }
    #outP {
        margin: 0;
        margin-top: 8px;
    }
    #decP {
        margin: 0;
    }
    #contactP {
        font-size: 14px;
        text-align: center;
        margin: 8px 0 0 0;
        font-weight: bold;
        color: white;
        -webkit-text-stroke: .3px black;
        font-family: "BBH Bogle", sans-serif;
        font-style: normal;
    }

@media (max-width: 600px) {
    html, body {
        margin: 0;  /* sets up border for success */
        height: 100%;
    }
    body {
        box-sizing: border-box;
        min-height: 100vh;
        border: 12px solid;
        border-image: linear-gradient(180deg, black, gray, white, black, gray) 1;
        inset: 0;   /* catches right side border, allows it visible on all screens */
        position: fixed; /* makes sure you can't scroll to the right */
    }
 .background {
        position: fixed;
        inset: 0;
        background-image: url('/static/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.35;
        animation: fadeBackground 2s ease-in forwards;
        z-index: -1;   
    }
    @keyframes fadeBackground{
     to {
        opacity: 0.85;
      }
    }
    #tnbP {
        font-weight: bold;
        color: white;
        -webkit-text-stroke: 2px black;
        font-size: 32px;
        display: grid;
        place-items: center;
        font-family: "BBH Bogle", sans-serif;
        font-style: normal;
        margin-top: 10px;
        height: 5px;
    }
    #squiggle {
        width: 280px;
        height: 30px;
        margin-top: none;
    }
    #png1 {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 10px 14px rgba(0,0,0,0.5);
    }
    #png1Div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1px;
        margin-bottom: 16px;
        margin-top: 1px;
    }
    #socialsDiv {
        display: flex;
        border: 4px solid;
        border-image: linear-gradient(180deg, black, gray, white, black, gray) 1;
        height: 92px;
        width: 310px;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    #socialsDiv p {
        font-weight: bold;
        color: white;
        -webkit-text-stroke: 1px black;
        font-size: 20px;
        font-family: "BBH Bogle", sans-serif;
        font-style: normal;

    }
    #socialsDiv a {
        font-size: 14px;
        font-weight: bold;
        color: rgb(125, 198, 227);
        -webkit-text-stroke: .3px black;
    }
    #spotDiv {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;
    }
    #instaDiv {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;
    }
    #insta {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
    }
    #spot {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
    }
    #note1, #note2, #note9, #note10 {
        width: 64px;
        height: 50px;
    }
    #note5, #note6, #note7, #note8, #note3, #note4 {
        display: none;
    }
    #h {
        width: 190px;
        height: 110px;
    }
    #ziggycontact {
        font-size: 10px;
        text-align: center;
        font-weight: bold;
        color: white;
        -webkit-text-stroke: .3px black;
        font-family: "BBH Bogle", sans-serif;
        font-style: normal;
        margin-bottom: -12px;

    }
    #promoDiv {
        position: fixed;
        bottom: 12px;
        width: 100%;
        text-align: center;
    }
    #newAlbumDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #newAlbumDiv p {
        font-weight: bold;
        color: white;
        -webkit-text-stroke: .3px black;
        font-size: 16px;
        font-family: "BBH Bogle", sans-serif;
        font-style: normal;

    }
    #outP {
        margin: 0;
        margin-top: 8px;
    }
    #decP {
        margin: 0;
    }
    #contactP {
        font-size: 14px;
        text-align: center;
        margin: 8px 0 0 0;
        font-weight: bold;
        color: white;
        -webkit-text-stroke: .3px black;
        font-family: "BBH Bogle", sans-serif;
        font-style: normal;
    }
    
}