<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Name Brands</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div id="mainContent">
        <p id = "tnbP">The Name Brands</p>
        <img id = "squiggle" src = "/static/dash.png">
        <div id="png1Div">
            <img id="note1" src="/static/notes.png">
            <img id="note2" src="/static/notes.png">
            <img id="note3" src="/static/notes.png">
            <img id="note4" src="/static/notes.png">
            <img id="note5" src="/static/notes.png">
            <img id="png1" src="/static/img1.png">
            <img id="note6" src="/static/notes.png">
            <img id="note7" src="/static/notes.png">
            <img id="note8" src="/static/notes.png">
            <img id="note9" src="/static/notes.png">
            <img id="note10" src="/static/notes.png">

        </div>
        <div id="socialsDiv">
            <div id="spotDiv">
                <a id="spotText" href="https://open.spotify.com/artist/0YOXeKgltOr9iUk8XAvNnG?si=8VcJKmpwQGuW5YQPoVRojw" target="_blank">Spotify</a>
                <a class="spotLink" href="https://open.spotify.com/artist/0YOXeKgltOr9iUk8XAvNnG?si=8VcJKmpwQGuW5YQPoVRojw" target = "_blank">
                 <img id="spot" src="/static/reed.png" width = 120px height = 120px alt="logo">
                </a>
            </div>
            <p id="socialP">Socials</p>
            <div id="instaDiv">
                <a id="instaText" href = "https://www.instagram.com/the.namebrands/" target="_blank">Instagram</a>
                <a class ="instaclass" href="https://www.instagram.com/the.namebrands/" target = "_blank">
                 <img id="insta" src="/static/instagram.png" width = 120px height = 120px alt = "logo">
                </a>
            </div>
        </div>
        <div id = "newAlbumDiv">
            <p id = "outP">NEW ALBUM OUT NOW</p>
            <img id = "h" src = /static/h.png>
            <p id = "decP">LISTEN NOW</p>
        </div>
        <div id = "contactDiv">
            <p id = "contactP">Contact The Name Brands through Instagram DM's, email reeddancycabeal@gmail.com, or text (629)-245-6241</p>
        </div>
        <div id = "promoDiv">
            <p id="ziggycontact">Website created by Ziggy Ingalls. Text 615-612-8079 for prices.</p>
        </div>
        
    </div>
    <div class = "background"></div>
</body>

</html>